<div class="flex flex-col gap-4 p-4 pt-0 mx-auto max-w-2xl px-4 py-10 sm:px-6 sm:py-10 lg:max-w-7xl lg:px-10">
  <h1 class="text-4xl font-bold text-slate-50 mb-4">Gift client</h1>
  <app-search-bar (onSearch)="onSearchValue($event)" [searchList]="searchList"></app-search-bar>
  <div class="flex">
    <ng-container *ngIf="categoryList$ | async as categoryList">
      <ng-container *ngFor="let category of categoryList">
        <app-chip [id]="category.id" [label]="category.label" [value]="category.value" [selected]="category.selected"
          (onSelectCategory)="onSelectCategory($event,category.value)"></app-chip>
      </ng-container>
    </ng-container>
  </div>
</div>

<div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
  <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
    <ng-container *ngIf="mediaList$ | async as mediaList">
      <ng-container *ngFor="let media of mediaList">
        <app-media-card (onLike)="onLike(media)" (onDownload)="onDownload(media)" [url]="media.images.original.url" [name]="media.title"
          [media]="media" [liked]="media.selected ?? false"></app-media-card>
      </ng-container>
    </ng-container>
  </div>
</div>