<div (mouseleave)="onMouseLeave()">
  <div class="flex items-center bg-gray-100 px-4 py-2 rounded-t shadow-sm" (click)="showHistory = true">
    <input [(ngModel)]="searchValue" type="text" placeholder="Buscar ..."
      class="flex-grow rounded-l-lg focus:outline-none bg-transparent" (keyup.enter)="search()" autocomplete="off">
    <ng-container *ngIf="searchValue != ''">
      <button (click)="clear()" type="submit" class="rounded-r-lg px-4 py-2 text-gray-500 hover:bg-gray-200">
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
          aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </ng-container>
  
    <button [ngClass]="{'disabled:opacity-75' : searchValue == ''}" (click)="search()" type="submit"
      class="rounded-r-lg px-4 py-2 text-gray-500 hover:bg-gray-200">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
        <path fill-rule="evenodd"
          d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
          clip-rule="evenodd" />
      </svg>
    </button>
  </div>
  <ng-container *ngIf="showHistory">
    <div class="bg-gray-100 rounded-b p-4">
      <p class="text-sm font-medium text-gray-600 mb-2">Búsquedas Recientes:</p>
      <ul class="space-y-2">
        <ng-container *ngFor="let search of searchList">
          <li class="flex items-center cursor-pointer" (click)="searcHistory(search)">
            <span>{{search}}</span>
          </li>
        </ng-container>
      </ul>
    </div>
  </ng-container>
</div>
