<template>
  <button
    :class="['button', `button--${buttonStatus}`, { disabled: buttonDisabled }]"
    @click="handleClick"
  >
    {{ buttonText }}
  </button>
</template>

<script>
import { StatusEnum } from "../types/StatusEnum";

export default {
  name: "ActionButtonComponent",
  props: {
    buttonDisabled: {
      type: Boolean,
      default: false,
    },
    buttonStatus: {
      type: String,
      required: true,
      default: StatusEnum.SUCCESS,
      validator: (value) => {
        return Object.values(StatusEnum).includes(value);
      },
    },
    buttonText: {
      type: String,
      required: true,
    },
    clickHandler: {
      type: Function,
      required: true,
    },
  },
  methods: {
    handleClick() {
      this.clickHandler();
    },
  },
};
</script>

<style>
</style>
