<template>
  <div class="alert" :class="{
    'alert--success': status == 0,
    'alert--danger': status == 1,
  }">
    <img class="alert-image" v-if="status == 0" src="@/assets/icons/check.svg" alt="" />
    <img class="alert-image" v-if="status == 1" src="@/assets/icons/close.svg" alt="" />
    <span class="alert--text">{{ mesagge }}</span>
  </div>
</template>

<script>
export default {
  name: "AlertComponent",
  props: ["mesagge", "status"],
};
</script>

<style scoped>
.alert {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--green);
  border-radius: var(--border-radius);
  width: 20rem;
  height: 3rem;
}

.alert-image {
  width: 100%;
  height: 100%;
  flex: 3;
}

.alert--success {
  background-color: var(--green);
}

.alert--danger {
  background-color: var(--red);
}

.alert--text {
  font-weight: 700;
  color: var(--white);
  flex: 7;
}
</style>