<template>
  <div>
    <table class="data-table">
      <thead>
        <tr class="data-table--header">
          <th v-for="(label, key) in model" :key="key">{{ label }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in data" :key="index">
          <td v-for="(label, key) in model" :key="key">{{ item[key] }}</td>
          <td class="data-table--actions" @click="openOptions(index)">
            <img
              class="icon-button"
              src="@/assets/icons/dots-icon.svg"
              alt=""
            />
            <div class="dropdown" v-if="currentRecord == index">
              <span
                v-for="(action, actionIndex) in actionList"
                :key="actionIndex"
                class="dropdown--options"
                @click="handleAction(action, item)"
                >{{ action.label }}</span
              >
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
  
<script>
import PaginationComponent from "./PaginationComponent.vue";

export default {
  name: "DataTable",
  comments: { PaginationComponent },
  props: {
    model: {
      type: Object,
      required: true,
    },
    data: {
      type: Array,
      required: true,
      default: () => {
        return [];
      },
      validator: (propValue) => {
        if (!Array.isArray(propValue)) {
          return false;
        }

        return true;
      },
    },
    actionList: {
      type: Array,
      default: () => {
        return [];
      },
      validator: (propValue) => {
        if (!Array.isArray(propValue)) {
          return false;
        }

        return true;
      },
    },
  },
  data: function () {
    return {
      currentRecord: -1,
    };
  },
  methods: {
    openOptions(index) {
      if (index == this.currentRecord) {
        this.currentRecord = -1;
        return;
      }
      this.currentRecord = index;
    },
    handleAction(action, item) {
      action.handler(item);
    },
  },
};
</script>
  
  <!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.data-table {
  width: 100%;
  border: 1px solid var(--gray-light);
  border-radius: 8px 8px 0 0;
  background: var(--white);
}

.data-table td {
  border-bottom: 1px solid var(--gray-light);
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}

.data-table--header {
  display: none;
  text-align: left;
  color: var(--gray-dark);
}

.data-table--header th {
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border-bottom: 2px solid var(--gray-light);
}

/* Desktop media query */
@media only screen and (min-width: 768px) {
  .data-table--header {
    display: table-row;
  }

  .data-table--actions {
    position: absolute;
  }
}

.dropdown {
  text-align: left;
  text-transform: capitalize;
  width: 8rem;
  position: relative;
  bottom: 1.7rem;
  right: 7.5rem;
  background-color: #fff;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dropdown--options {
  cursor: pointer;
  box-sizing: border-box;
  padding: 0.5rem;
}
</style>
  