<template>
  <div class="backdrop">
    <div class="dialog">
      <div class="dialog--header">
        <h1 class="title">{{ title }}</h1>
        <img
          @click="onCloseDialog"
          class="icon-button"
          src="../assets/icons/close.svg"
          alt=""
        />
      </div>
      <div class="dialog--content">
        <form @submit.prevent="submitForm" class="form">
          <div class="form--block">
            <label for="firstName"
              >Nombre (s) <span class="required">*</span></label
            >
            <input
              placeholder="Ingresa tu(s) nombre(s)"
              class="input"
              type="text"
              id="firstName"
              v-model="formData.firstName"
              required
            />
          </div>
          <div class="form--block">
            <label for="lastName"
              >Apellidos <span class="required">*</span></label
            >
            <input
              placeholder="Ingresa tus apellidos"
              class="input"
              type="text"
              id="lastName"
              v-model="formData.lastName"
              required
            />
          </div>
          <div class="form--block">
            <label for="age">Edad <span class="required">*</span></label>
            <input
              placeholder="Ingresa tu edad"
              class="input"
              type="number"
              id="age"
              min="0"
              v-model="formData.age"
              required
            />
          </div>
          <div class="form--block">
            <label for="age">Peso <span class="required">*</span></label>
            <input
              placeholder="Ingresa tu peso"
              class="input"
              type="number"
              id="height"
              v-model="formData.height"
              required
            />
          </div>
          <div class="form--block">
            <label for="age">Altura <span class="required">*</span></label>
            <input
              placeholder="Ingresa tu estatura"
              class="input"
              type="number"
              id="weight"
              v-model="formData.weight"
              required
            />
          </div>
        </form>
      </div>
      <div class="dialog--actions">
        <ActionButtonComponent
          :clickHandler="onCloseDialog"
          :buttonText="buttonCloseTitle"
          :buttonStatus="'info-outline'"
        />
        <ActionButtonComponent
          :clickHandler="onSubmit"
          :buttonText="buttonActionTitle"
          :buttonStatus="'info'"
          :buttonDisabled="!formValid"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "DialogComponent",
  props: {
    user: {
      type: Object,
    },
    mode: {
      type: Number,
      default: 1,
    },
  },
  data: function () {
    return {
      formValid: false,
      title: "Crear Usuario",
      buttonActionTitle: "Crear Usuario",
      buttonCloseTitle: "Cancelar",
      formData: {
        id: "",
        firstName: "",
        lastName: "",
        age: null,
        height: null,
        weight: null,
      },
      errorFirstName: false,
      errorLastName: false,
      submitted: false,
    };
  },
  watch: {
    user: {
      handler(newUser) {
        if (newUser) {
          this.formData = {
            id: newUser.id ?? null,
            firstName: newUser.firstName ?? "",
            lastName: newUser.lastName ?? "",
            age: newUser.age ?? null,
            height: newUser.height ?? null,
            weight: newUser.weight ?? null,
          };
          return;
        }
        this.formData = {
          id: null,
          firstName: "",
          lastName: "",
          age: null,
          height: null,
          weight: null,
        };
      },
      immediate: true,
    },
    mode: {
      handler(newMode) {
        // create mode
        if (newMode == 1) {
          this.title = "Crear Usuario";
          this.buttonActionTitle = "Crear Usuario";
        }

        if (newMode == 2) {
          this.title = "Editar Usuario";
          this.buttonActionTitle = "Editar Usuario";
        }
      },
      immediate: true,
    },
    formData: {
      deep: true, // Watch changes deeply within the form data object
      handler(newFormData) {
        this.formValid = this.validateForm(newFormData);
      },
    },
  },
  methods: {
    validateForm(formData) {
      let valid = true;

      if (formData.firstName.trim() == "") {
        valid = false;
      }

      if (formData.lastName.trim() == "") {
        valid = false;
      }

      if (formData.age == null) {
        valid = false;
      }

      if (formData.weight == null) {
        valid = false;
      }

      if (formData.height == null) {
        valid = false;
      }
      return valid;
    },
    onCloseDialog() {
      this.$emit("onCloseDialog", true);
    },
    onSubmit() {
      // create mode
      if (this.mode == 1) {
        this.$emit("onCreateUser", this.formData);
        this.$emit("onCloseDialog", true);
      }

      // edit mode
      if (this.mode == 2) {
        this.$emit("onUpdateUser", this.formData);
        this.$emit("onCloseDialog", true);
      }
    },
  },
};
</script>

<style scoped>
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100vh;
  width: 100%;
}

.dialog--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.dialog--actions {
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.form--block {
  display: flex;
  flex-direction: column;
  height: 4rem;
  gap: 0.5rem;
}

.form--block input {
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .dialog {
    width: 32rem;
    height: auto;
    gap: 2rem;
  }
}
</style>