<!-- ya no pude terminar este componente, porq ya me corrian de la oficina :(-->
<template>
    <div class="paginator">
        <div class="paginator-info">
            <span class="paginator-info-total">Total: {{ total }}</span>
            <span class="paginator-info-page">Página: {{ page }}</span>
            <span class="paginator-info-items">Elementos por página: {{ itemsPerPage }}</span>
        </div>
        <ul class="paginator-controls">
            <li class="paginator-control" v-for="(page, i) in pages" :key="i">
                <a v-if="page > 0" :href="`?page=${page}`">
                    {{ page }}
                </a>
                <span v-else>...</span>
            </li>
        </ul>
        <select class="paginator-items-per-page">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
</template>
  
<script>
export default {
    name: "PaginationComponent",
    props: ['total','page','itemsPerPage'],
    
};
</script>