<div class="overflow-hidden  aspect-video bg-red-400 cursor-pointer rounded-xl relative group">
  <app-loader *ngIf="showLoader"></app-loader>

  <div
    class="rounded-xl z-50 opacity-0 group-hover:opacity-100 transition duration-300 ease-in-out cursor-pointer absolute from-black/80 to-transparent bg-gradient-to-t inset-x-0 -bottom-2 pt-30 text-white flex items-end">
    <div
      class="cursor-auto transform-gpu  p-4 space-y-3 text-xl group-hover:opacity-100 group-hover:translate-y-0 translate-y-4 pb-10 transform transition duration-300 ease-in-out">
      <div class="font-bold">{{name}}</div>
      <div class="flex justify-start items-center gap-4">

        <button 
          (click)="setLike()"
          class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
          <svg [ngClass]="{'fill-current' : liked}" class="text-red-400 w-6 h-auto" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512">
            <path
              d="M0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84.02L256 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 .0003 232.4 .0003 190.9L0 190.9z" />
          </svg>
        </button>
        <button 
          (click)="download()"
          type="button"
          class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
          Descargar
        </button>
      </div>
    </div>
  </div>
  <img (load)="onLoad()" [src]="url" alt="" class="object-fill h-48 w-full object-cover object-center group-hover:opacity-75">
</div>