<template>
  <div id="app">
    <HomeView msg="Welcome to Your Vue.js App" />
  </div>
</template>

<script>
import HomeView from "./views/HomeView.vue";

export default {
  name: "App",
  components: {
    HomeView,
  },
};
</script>

<style>
:root {
  --red: #ff5151;
  --blue: #0093ff;
  --blue-dark: #1565c0;
  --gray: #fdfdfd;
  --gray-dark: #576177;
  --gray-light: #e3e5e9;
  --green: #00d385;
  --white: #ffff;
  --border-radius: 0.25rem;
}

body {
  margin: 0;
  height: 100vh;
}

hr {
  color: var(--gray-light);
  width: 100%;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: inherit;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 1rem;
  background: var(--gray);
}

/* states*/
.required {
  color: var(--red);
}

/* texts*/

.title {
  color: var(--gray-dark);
  font-size: 1.5em;
}

/* inputs */
.input {
  border: 0.063rem solid var(--gray-light);
  color: var(--gray-dark);
  height: inherit;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  text-align: center;
}

/* buttons */
.icon-button {
  cursor: pointer;
}

.button {
  padding: 0rem 0.5rem;
  width: 8.5rem;
  height: inherit;
  box-sizing: border-box;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: 700;
}

.button--info {
  background-color: var(--blue);
  color: var(--white);
}

.button--info-outline {
  background-color: var(--white);
  color: var(--blue);
  border: solid 2px var(--blue);
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* Desktop media query */
@media only screen and (min-width: 768px) {
  #app {
    padding: 1rem 5rem;
  }
}
</style>
