<template>
  <div class="home-layout">
    <h1 class="title">Lista de usuarios</h1>
    <div class="home-layout--block">
      <span class="subtitle">Usuarios</span>
      <hr />
      <div class="controls">
        <input
          class="input"
          type="text"
          placeholder="Buscar por nombre"
          v-model="searchInput"
          @input="handleInput"
          @keydown.enter="handleSubmit"
        />
        <ActionButtonComponent
          :clickHandler="openCreateDialog"
          :buttonText="buttonAddTitle"
          :buttonStatus="'info'"
        />
      </div>
      <DataTableComponent
        :model="userModel"
        :data="userList"
        :actionList="userActions"
        @onUpdate="openUpdateDialog"
        @onDelete="onDeleteUser"
      />
    </div>
    <DialogComponent
      v-if="userDialogVisible"
      @onCloseDialog="onCloseDialog"
      @onCreateUser="onCreateUser"
      @onUpdateUser="onUpdateUser"
      :user="currentUser"
      :mode="modeDialog"
    />
    <AlertComponent
      v-if="alertVisible"
      :mesagge="httpMessage"
      :status="httpStatus"
    />
  </div>
</template>
  
<script>
import DialogComponent from "@/components/DialogComponent.vue";
import DataTableComponent from "@/components/DataTableComponent.vue";
import HttpService from "@/services/http";
import AlertComponent from "@/components/AlertComponent.vue";
import { userModel } from "@/types/UserModel";
import { debounce } from "lodash";

export default {
  name: "HomeView",
  components: {
    DataTableComponent,
    DialogComponent,
    AlertComponent,
  },
  data: function () {
    return {
      buttonAddTitle: "Crear colaborador",
      userModel: userModel,
      userActions: [
        {
          label: "Editar",
          handler: this.openUpdateDialog,
        },
        {
          label: "Elminar",
          handler: this.onDeleteUser,
        },
      ],
      httpService: new HttpService(),
      httpMessage: "",
      httpStatus: 0, // 0 is success or 1 error, this is better in ts with a enum
      alertVisible: false,
      userDialogVisible: false,
      httpUserList: [],
      userList: [],
      skip: 1,
      limit: 10,
      searchInput: "",
      currentUser: null,
      modeDialog: 1,
    };
  },
  watch: {
    httpUserList: {
      handler(newUserList) {
        this.userList = newUserList.map((user) => {
          return {
            id: user.id,
            fullName: `${user.firstName} ${user.lastName}`,
            age: user.age,
            height: user.height,
            weight: user.weight,
          };
        });
        console.log(this.userList);
      },
      immediate: true,
    },
  },
  methods: {
    handleInput: debounce(function () {
      this.handleSubmit();
    }, 300),
    async handleSubmit() {
      let response = await this.httpService.searchUser(this.searchInput);
      this.httpUserList = response;
    },
    openCreateDialog() {
      this.currentUser = null;
      this.modeDialog = 1;
      this.userDialogVisible = true;
    },
    async openUpdateDialog(user) {
      let response = await this.httpService.getUserById(user.id);
      this.currentUser = response;
      this.modeDialog = 2;
      this.userDialogVisible = true;
    },
    onCloseDialog() {
      this.userDialogVisible = false;
    },
    async onCreateUser(user) {
      try {
        let response = await this.httpService.createUser(user);
        this.httpUserList.push(user);
        this.httpMessage = "Usuario creado con exito";
        this.httpStatus = 0;
        this.alertVisible = true;
        return response;
      } catch (error) {
        this.httpMessage = "Error al crear usuario";
        this.httpStatus = 1;
        this.alertVisible = true;
      } finally {
        setTimeout(() => {
          this.alertVisible = false;
        }, 3000);
      }
    },
    async onUpdateUser(user) {
      try {
        let response = await this.httpService.updateUser(user, user.id);
        let userIndex = this.httpUserList.findIndex(
          (user) => user.id == response.id
        );
        if (userIndex > -1) {
          this.httpUserList[userIndex] = { ...user };
          this.httpUserList = [...this.httpUserList];
        }
        this.httpMessage = "Usuario editado con exito";
        this.httpStatus = 0;
        this.alertVisible = true;
        return response;
      } catch (error) {
        this.httpMessage = "Error al editar usuario";
        this.httpStatus = 1;
        this.alertVisible = true;
      } finally {
        setTimeout(() => {
          this.alertVisible = false;
        }, 3000);
      }
    },
    async onDeleteUser(userDeleted) {
      try {
        let response = await this.httpService.deleteUser(userDeleted.id);
        let userIndex = this.httpUserList.findIndex(
          (user) => user.id == userDeleted.id
        );
        if (userIndex > -1) {
          this.httpUserList.splice(userIndex, 1);
        }
        this.httpMessage = "Usuario eliminado con exito";
        this.httpStatus = 0;
        this.alertVisible = true;
        return response;
      } catch (error) {
        this.httpMessage = "Error al eliminar usuario";
        this.httpStatus = 1;
        this.alertVisible = true;
      } finally {
        setTimeout(() => {
          this.alertVisible = false;
        }, 3000);
      }
    },
  },
  async beforeMount() {
    let response = await this.httpService.getUsers(this.skip, this.limit);
    this.httpUserList = response;
  },
};
</script>
  
  <!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.home-layout {
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}

.home-layout--block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.controls {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 2.5rem;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
</style>
  